@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.contact {
  margin: 100px 0;
  @include responsive($desktop) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: auto;
  @include responsive($desktop) {
    margin: 0;
  }

  .input, .textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid $text_white;
    font-family: 'Roboto', sans-serif;
    background: none;
    color: $text_white;
  }

  .button {
    background-color: $spring_green;
    color: $raisin_black;
    border: 1px solid $spring_green;
    padding: 0.4rem 1.5rem;
    margin-top: 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.3rem;

    @include responsive($tablet) {
      width: 200px;
    }

    &:hover {
      background-color: $raisin_black;
      color: $text_white;
    }
  }
}

.honeypot {
  display: none;
}

.error {
  font-size: 1rem;
  color: #e67878;
}