@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.about {
  padding: 50px 0;
  width: 100%;
  margin-bottom: 100px;

  @include responsive($tablet) {
      max-width: 800px;
      padding-top: 200px;
  }

  .textContainer {
    height: fit-content;
    position: relative;
    padding: 20px 0;
    width: 100%;
    @include flex_centered(column);
    perspective: 1000px;

    @include responsive($tablet) {
      padding: 60px 40px;
    }
    
    &:hover > .text {
      filter: blur(0px);
    }
    
    .text {
        filter: blur(3px);
        transition: 0.6s;
        font-size: 1rem;
        line-height: 1.3;
        max-width: 732px;
        @include responsive($tablet) {
          font-size: 1.2rem;
        }
    }


    .visibleText {
      filter: blur(0px);
      @include responsive($desktop) {
        filter: blur(3px);
      }
    }

    .glassBlur {
      position: absolute;
      top: 0;
      height: 100%;
      width: 768px;
      border: 1px solid #93c1c7;
      background-image: linear-gradient(
        150deg,
        rgba(68, 188, 224, 0.199),
        rgba(117, 212, 250, 0.514),
        rgba(68, 188, 224, 0.199),
        rgba(117, 212, 250, 0.514),
        rgba(68, 188, 224, 0.199),
        rgba(0, 0, 0, 0) 50%
      );
      background-size: 350%;
      background-position: 0 0;
      background-color: rgba(25, 88, 97, 0.1);
      box-shadow: 5px 5px #195861;
      transition: 0.9s;
      cursor: none;

      @include responsive($tablet) {
        width: 100%;
      }

      &:hover {
        background-position: 100% 100%;
        transform: rotate3d(-1, 1, -0.5, 1deg);
        box-shadow: 3px 3px #195861;
      }

    }

    .seeThrough {
      background-position: 100% 100%;
      @include responsive($desktop) {
        background-position: 0 0;
      }
    }

    .cursorGreen {
      display: none;
      @include responsive($desktop) {
        position: absolute;
        width: 25px;
      }
    }

    .cursorMove {
      @include responsive($desktop) {
        display: block;
        animation-name: move;
        animation-duration: 1500ms;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
      }
    }

    @keyframes move {
      0% {
        right: -100px;
        top: 200px;
      }
      60% {
        right: 50px;
        top: 145px;
      }
      100% {
        right: 50px;
        top: 145px;
      }
    }
  }
}
