@use '../../styles/variables' as *;

.contactSuccess {
  padding: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  .title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: $spring_green;
  }

  .message {
    font-size: 1.25rem;
  }

  .button {
    background-color: $spring_green;
    color: $raisin_black;
    border: 1px solid $spring_green;
    padding: 0.6rem 1.8rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.2rem;
    margin-top: 3rem;

    &:hover {
      background-color: $raisin_black;
      color: $text_white;
    }
  }
}
