@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;

    @include responsive($desktop) {
        flex-direction: row;
        align-items: flex-start;
        width: fit-content;
    }
}

.desktopScreenshot {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: top center;
}

.mobileScreenshot {
    width: 100%;
    display: none;

    @include responsive($desktop) {
        display: block;
        width: 133px;
        aspect-ratio: 9 / 19;
        object-fit: cover;
    }
}

.text {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    p {
        width: 100%;
    }

    @include responsive($desktop) {
        width: 500px;
    }
}

.title {
    color: $spring_green;
    font-size: 1rem;
}

.links {
    width: 100%;
    display: flex;
    gap: 10px;
    text-decoration: underline;
}
