@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  @include responsive($desktop) {
    height: 100vh;
    width: fit-content;
    align-items: start;
  }
}

.projectsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  @include responsive($desktop) {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  @include responsive($desktop_large) {
    justify-content: space-between;
  }
}

.seeMore {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2rem;
  gap: 0.5rem;

  a {
    color: #66ffb2;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #b9ffd8;
    }
  }

}

