.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;

}

.projectsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
}

.seeMore {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2rem;
  gap: 0.5rem;

  a {
    color: #66ffb2;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #b9ffd8;
    }
  }

}

/* Responsive layout */
@media (max-width: 768px) {
  .projectsGrid {
    gap: 1.5rem;
  }

  .sectionTitle {
    font-size: 1.5rem;
  }

  .seeMore {
    justify-content: center;
  }
}
