.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;

  .imageContainer {
    height: 60%;
    display: flex;
    gap: 30px;
    position: relative;
    z-index: 10;
  }

  .desktopImage {
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: top center;
  }

  .mobileImage {
    height: 100%;
    aspect-ratio: 9 / 19;
    object-fit: cover;
    object-position: top center;
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(228, 228, 228, 0.274);
  backdrop-filter: blur(4px);
  z-index: 1;
}

